.card-more{
    font-size: 20px;
    padding-left: 10px;
    color: #16aaff;
    cursor: pointer;
}


.custom-card{
    padding: 5px;

}

.custom-card-header{
    /* background: #16aaff; */
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: -5px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.custom-card-content{
    padding: 10px;
   
}
.custom-card-content.bg-default{
    background: #f1f4f6;
    border-radius: 10px;
    border: solid 1px #e9e9e9;
}

 .tile-card-title{
	 
	width: fit-content;
    margin-left: 10px;
    margin-top: -10px;
	 
 }
  
  
  .vc-pin{
    margin-top: -52px;
    margin-bottom: 20px;
    font-size: 21px;
    color: #16aaff;
  
  }
  
  .vc-pin i{
	  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-radius: 8px;
  }
  .vc-card{
    padding: 15px;
    padding-top: 35px;
    border-radius: 5px;
    font-size: 30px;
    /* color: #f7b25e; */
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    font-weight: bold;
    text-align: center;
    transform: rotate(3deg);
    margin-bottom: 20px;
    width: 324px;
    text-align: center;
    height: 200px;
    /* margin-top: -57px; */
    margin: auto;
	transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    animation-iteration-count: infinite;
    /* animation-delay: 10s; */
    animation-duration: 5s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	margin-top: 50px;
  }
  
  .v-icon{
	font-size: 64px;
  }
  
.modal-header .close {
	padding: 0px;
	margin:0px;
}

.widget-subheading {
  /*   margin: auto;
    text-align: center; */
}

th .badge{
	font-size: 100%;
}

.widget-heading{
	/* font-weight:normal !important; */
}

.reco-label{
    /* margin-left: -100px; */
    position: absolute;
    /* margin-right: -33px; */
    box-shadow: -0.46875rem 0 2.1875rem rgba(4,9,20,0.03), -0.9375rem 0 1.40625rem rgba(4,9,20,0.03), -0.25rem 0 0.53125rem rgba(4,9,20,0.05), -0.125rem 0 0.1875rem rgba(4,9,20,0.03);
    right: 0px;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -10px;
	z-index:1;
	cursor:pointer;
}

.reco-open{
	display: block !important;
	
}

.reco-label.reco-open{
    right: 526px;
    /* transition-delay: 0.6s; */
    padding-right: 30px;
    animation-name: bounceInRight;
}

.param-label{
	cursor:pointer;
	
}

.param-label .reco-slide.reco-open{
		right: auto;
    margin-top: 10px;
		padding:2px;
}

.param-label i{
	position: absolute;
    font-size: 24px;
    color: #3f6ad5;
    margin-top: -44px;
    margin-left: -10px;
	
}

.reco-slide{
	background: #3f6ad8;
    margin-top: -20px;
    width: 400px;
    height: max-content;
    position: absolute;
    z-index: 2;
    right: 0px;
    transition: 0px;
    padding: 10px;
	border-radius: 5px;
    display: none;
    box-shadow: -0.46875rem 0 2.1875rem rgba(4,9,20,0.03), -0.9375rem 0 1.40625rem rgba(4,9,20,0.03), -0.25rem 0 0.53125rem rgba(4,9,20,0.05), -0.125rem 0 0.1875rem rgba(4,9,20,0.03);
}

.reco-slide li{
	margin-left: -20px;
}


.modal-lg{
	max-width:900px;
}

.modal-param{
	height: 40px;
    margin: 5px;
    margin-right: 20px;
    font-size: 24px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}

.ui-theme-settings1{
	  
	position: fixed;
    z-index: 155;
    right: 5px; 
    top: 90px;
    height: max-content;
    transform: translate(410px);
    transition: all .2s;
    box-shadow: -0.46875rem 0 2.1875rem rgba(4,9,20,0.03), -0.9375rem 0 1.40625rem rgba(4,9,20,0.03), -0.25rem 0 0.53125rem rgba(4,9,20,0.05), -0.125rem 0 0.1875rem rgba(4,9,20,0.03);
}
.ui-theme-settings1.settings-open{
    transform: translate(0);
    right: 0px;
	z-index:500;

}

.kpi-slider.ui-theme-settings1{
	 top: 60px;
	 height:100vh;
}

.kpi-slider .theme-settings__inner1{
	height:90vh;
}

.kpi-slider .parameter{
	background: #3e68d5;
    border-color: #3e68d5;
     color: #fff;
}

.kpi-list{
	margin: 10px;

}

.kpi-list .card li{
	margin-left: -20px;
}

.kpi-heading{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-theme-settings1 .btn-open-options1{
border-radius: 50px;
    position: absolute;
    left: -114px;
    top: 180px;
    padding: 0;
    height: 54px;
    line-height: 54px;
    width: 54px;
    text-align: center;
    display: block;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    margin-top: -27px;
}

.ui-theme-settings1 .themeoptions-heading {
    font-size: 1.1rem;
    color: #495057;
    margin: 0;
    background: #f8f9fa;
    padding: .75rem 1.5rem;
    border-bottom: #dee2e6 solid 1px;
    border-top: #dee2e6 solid 1px;
    display: flex;
    align-items: center;
    align-content: center;
}

.ui-theme-settings1 .themeoptions-heading:first-child {
    border-top: 0;
}

.ui-theme-settings1 .list-group-item h5 {
    color: #3f6ad8;
    font-size: .968rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.ui-theme-settings1 .theme-settings-swatches {
    text-align: center;
}

.theme-settings__inner1{
    background: #fff;
    width: 400px;
    height: max-content;
    padding: 0;

}

.parameter-section{
    text-align: right;
    /* margin: auto;
}

.parameter-wrapper{
    position: absolute;
    /* margin: -30px; */
    /* text-align: right; */
    margin-top: -30px;

}

.parameter{
    position: absolute;
    left: -30px;
    top: 116px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    margin-top: -25px;
    border-radius: 1rem;
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid #ffffff;
    border-style: solid;
    background: #ffffff;
    width: 35px;
    height: 25px;
    text-align: left;
    z-index: -5;
    padding-left: 3px;
	color: #3f6ad8;
	cursor:pointer;
}

/* More details/Overview */
.parameter1{
    padding: 2px 2px;
    position: absolute;
    left: -30px;
    top: 116px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    margin-top: -22px;
    border-radius: 1rem;
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid #3f6ad8;
    border-style: solid;
    background: #3f6ad8;
    width: 35px;
    height: 18px;
    text-align: left;
    z-index: -5;
    padding-left: 3px;
	color: #fff;
    cursor:pointer;
    font-size: 10px;
}

.detail{
    text-decoration: none;
    color: #fff;
}




.no-padding{
	padding:0px !important;
}

.top-margin30{
	margin-top: -30px !important;
}


.optional-step{
padding-left: 3px;
    background: #bababa;
    width: 15px;
    height: 16px;
    position: absolute;
    font-weight: bold;
    margin-left: -20px;
    margin-top: -20px;
    font-size: 10px;
    text-align: left;
    /* border-bottom-left-radius: 0.25rem; */
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 2rem;
}

.active-step{
    padding-left: 3px;
        background: #3ac47d !important;
        width: 15px;
        height: 16px;
        position: absolute;
        font-weight: bold;
        margin-left: -20px;
        margin-top: -20px;
        font-size: 10px;
        text-align: left;
        /* border-bottom-left-radius: 0.25rem; */
        border-bottom-right-radius: 5rem;
        border-top-left-radius: 2rem;
    }

.card.mb-3.header-box{
    margin-bottom: 15px !important;
    height: 75px;
}


.process-header{
	text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
    margin: -3px;
    text-align: center;
}

.process-arrow{
	text-align: center;
    font-size: 24px;

}

.process-arrow i{
    background: #3f6ad8;
    border-radius: 1rem;
    position: absolute;
    margin-top: 43px;
    margin-left: -15px;
}

.process-tray{

	cursor:pointer;
	background: white;
	margin-top:15px;
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
	
}
.process-tray div{
	font-weight:bold;
	width: 25%;
    text-align: center;
}

.process-tray div small{
	font-weight: normal;
}

.tray-bottom-left{
	border-bottom-left-radius: 0.25rem;
}

.tray-bottom-right{
	border-bottom-right-radius: 0.25rem;
}
.tile-icon{
	font-size: 28px;
	margin-right: 10px;
}

.logo-text{
font-size: 24px;
    font-weight: bold;
    font-family: monospace;
}

.card.mb-3 {
    margin-bottom: 10px !important;
}

.card-disabled {
	background-color: #e9ecef;
    border-color: #bdbdbd;
}

.card-title-disabled {
	text-transform: uppercase;
    color: #bdbdbd;
    font-weight: bold;
    font-size: .88rem;
}

.process-card {
	text-transform: capitalize;
    font-weight: normal;
    font-size: 16px;
	margin:-3px;
}

.process-progress {
  text-align: right;
    font-size: 30px;
    margin-right: -22px;
}

.process-progress i {
    position: absolute;
    margin-top: 8px;
    color: #3f6ad8;
}

.process-connect-right {
	text-align: right;
    font-size: 21px;
    margin-right: -15px;
}


.process-connect-right i {
    position: absolute;
    margin-top: 8px;
    color: #3f6ad8;
}

.process-connect-left {
	text-align: left;
    font-size: 21px;
    margin-left: -36px;
}


.process-connect-left i {
    position: absolute;
    margin-top: 8px;
    color: #3f6ad8;
}

.mand-process-check {
     text-align: right;
    font-size: 16px;
	/* display:none; */

}

.mand-process-check i {
    position: absolute;
    margin-top: -25px;
    border-radius: 1rem;
    border: 2px solid #fff;
    border-style: solid;
    background: #fff;
    margin-left: 7px;
}

.opt-process-check {
    text-align: right;
    font-size: 20px;
    margin-right: 4px;
}

.opt-process-check i {
    position: absolute;
    margin-top: -16px;
}